.container{
    width: 100%;
    background-color: white;
}

.titulo{
    font-size: 3rem;
    text-align: center;
}

.description{
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;

}

.price{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.category{
    font-family: sans-serif;
    text-align: center;
    text-transform: capitalize;
    
}

.image{
    margin-left: 450px;
}